@charset "UTF-8";
html {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
* {
  box-sizing: inherit;
  margin: 0;
  border: 0;
}
body {
  color: #1e1d1d;
  background-color: #fbfbfa;
  font-family: 'Raleway', sans-serif;
  margin: 0; border: 0;
}
header {
    border-bottom: 2px solid black;
    padding: .5em 0;
}

section {
  margin: 0;
}

/* CSS for Navigation bar */
.navbar{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
.ul_navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #434937;
  list-style-type: none;
  top: 0;
}

.li_navbar {
  float: right;
}

.li_navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li_navbar a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

/* CSS for Navigation Menu Button */
.menu{
  padding-left: 10px;
  font-size:25px;
  width: 100%;
  height: 1.5em;
  position: fixed;
  cursor:pointer;
  color: white;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (min-width: 525px) {
  .menu {display: none;}
}


/* CSS for Image banner */
@media screen and (max-width: 525px) {
  img {width: 18em !important;}
  .navbar {display: none}
}
img {
  width:30em;
}
.banner{
  margin-bottom: 3em;
}

/* Font CSS  */
h1 {
    weight: 700;
    font-size: 3em;
    margin: .1em 0;
}
h2 {
    font-weight: normal;
    font-size: 20px;
}
h3 {
  weight: 700;
  font-size: 1.3em;
  margin: .1em 0;
}
@media screen and (max-width: 600px) {
  h1 {font-size: 2em;}
  h2{font-size: 17px;}
  .header{margin-top: 60px !important}
}
.text_recipe{
  line-height: 1.5;
}
.heading{
  margin-top: 60px !important;
}
/* General CSS */
.text-center {
  text-align: center !important;
}

.center-align{
  display: flex;
  justify-content: center;
}

.header{
  margin-top: 90px;
}
.header_title {
    margin-top: 50px;
    margin-bottom: 10px;
}

header {
    border-bottom: 2px solid black;
    padding: .5em 0;
}
header h1 {
    color: black;
}
main {
  margin-top: 50px;
  margin-left: 20px;
}
aside {
    float: left;
    width: 150px;
}
@media screen and (max-width: 550px) {
  aside {float: none !important;}
}

#AboutDeveloper{
  margin-left: 2em;
  margin-right: 2em;
}
